<div class="container about-box">
  <div class="plate mx-auto mb-5" style = "padding-left: 300px;">
  <h1>About</h1>
  </div>
  <div class= "row" style = "padding-left: 300px;">
  <p>
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
    ぜひご注文ください。
  </p>
  <div class="card" style="max-width: 400px;">
   <a class="card-img"><%= image_tag('25310211_s.jpg', :size =>'605x235') %></a>
</div>
</div>
</div>